# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/classico_front/node_modules

# testing
/classico_front/coverage

# production
/classico_front/build

# misc
/.DS_Store
/classico_front/.DS_Store
/classico_front/.env
/classico_front/npm-debug.log*
/classico_front/yarn-debug.log*
/classico_front/yarn-error.log*


