<!DOCTYPE html>
<html>
<head>
    <title>Base Nav</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/app.css" %}"/>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="{% url 'index' %}">Django</a></li>
                <li><a class="navbar-link" href="{% url 'rest-swagger' %}">REST-swagger</a></li>
                <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li>
                {% if user.is_authenticated %}
                    <li><a class="navbar-link" href="{% url 'logout' %}"></a>Logout</li>
                {% else %}
                    <li><a class="navbar-link" href="{% url 'classico_app:user_login' %}">Login</a></li>
                    <li><a class="navbar-link" href="{% url 'classico_app:register' %}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container">
        {% block body_block %}


        {% endblock %}
    </div>
</body>
</html>